.d-none {
    display: none;
}
h1 {
    display: none; /* 표시 안함 */
}
#header {
    background-color: #517495;
    text-align: center;
    padding: 50px 0;
}
#header h2 {
    color: white;
    font-size: 50px;
}
#header h2::first-letter {
    font-size: 70px;
}
#header p {
    color: white;
    font-size: 30px;
    margin: 30px;
}
#menu {
    background-color: #2D3E4E;
    padding: 15px 0;
    text-align: center;
}
#menu a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}
.main {
    display: flex;
    max-width: 1440px;
    min-height: 2000px;
    margin: 50px auto;
}
.main #content {
    flex: 8;
    background-color: gray;
}
.main #sub {
    flex: 2;
    background-color: lightyellow;
}
#footer {
    background-color: #2D3E4E;
    padding: 50px;
    color: white;
}
.footer-wrap {
    max-width: 1440px;
    margin: 0 auto;
}